/* JuPis Theme – Copyright © 2011 Lukas Martini. */

/* –––– General stuff –––– */
html, body {
	font-family: 'Linux Liberation Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 1.22;
	background: url('http://korbinian-polk.de/pp16/css/assets/bg-tags.png') #222;
	
	/* Don't scroll */
	background-attachment: fixed;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	background: url('../images/bg.jpg');
	text-shadow: 1px 1px 1px #DDD;
	font-family: 'Ubuntu', arial, serif;
	padding-left: 5px;
}

p {
	margin-bottom: 15px;
}

img {
	margin: 0px;
	border-width: 0px;
}

a {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #FF8800;
}

input {
	background-color: #FFF;
	height: 22px;
	color: #222;
	font-size: 13px;  
	text-shadow: 0px 1px 0px #fff;  
	outline: none;
	border: 1px solid #AAA;  
	-webkit-box-shadow: 1px 1px 0px #efefef;  
	-moz-box-shadow: 1px 1px 0px #efefef;  
	box-shadow:  1px 1px 0px #efefef;  
}

/* The all-mighty, all-surrounding box */
#abox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 75%;
	overflow: hidden;
	background-image: url('../images/greytrans.png');
}

/* –––– Header –––– */
#header {
	padding: 10px;
	background-color: #DDD;
	background-image: url();
	background-position: bottom right;
	background-repeat: no-repeat;
	height: 110px;
	/*
	margin-left: 30px;
	*/
	background: url('../images/bg.jpg');
}

#header input[type=text] {
	width: 260px;
	padding-left: 30px;
	float: right;
	background-image: url('../images/search.png');
	background-position: 8px 10px;
	background-repeat: no-repeat;
	margin-top: 20px;
	height: 35px;
	-webkit-box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px;
	box-shadow:  0px 0px 0px;
}

#header a {
	border-bottom-width: 0px;
}

/* –––– Content area –––– */

/* You might ask yourself why we have such a thing. The answer is
 * simple: We want to have the width of sidebar & content area in
 * percent. However, padding is being added to the width (most stupid
 * idea EVER), resulting in over 100% and failure.
 */
#contentDisc {
	width: 67%;
	float: left;
}

#content {
	background-color: #FFF;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	-moz-box-shadow: 1px 1px 1px #CCC;
	box-shadow:  1px 1px 1px #CCC;
}

/* The grey bar beyond the title containing author etc. */
#content .info {
	font-size: 14px;
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 15px;
	background-color: #DDD;
	text-shadow: 1px 1px 1px #FFF;
	padding-left: 5px;
}

/* A single post */
.entry {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #444;
	margin-bottom: 15px;
	
	/* For .commentlinkbox positioning */
	position: relative;
	padding-bottom: 25px;
}

.entry .commentlinkbox {
	position: absolute;
	right: 0px;

	margin-right: 0px;
	margin-left: auto;
	margin-bottom: 15px;
	font-family: 'PT Sans', 'Linux Liberation Sans', 'Arial', sans-serif;
	background-image: url('../images/comment.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	
	display: none;
}

/* –––– Sidebar –––– */
#sidebar {
	margin-top: 10px;
	float: left;
	text-shadow: 1px 1px 1px #FFF;
	width: 33%;
	font-family: 'PT Sans', 'Linux Liberation Sans', 'Arial', sans-serif;
}

#sidebar a:hover {
	font-weight: bold;
	color: #000;
}

.block {
	background-color: #DDD;
	padding: 15px;
	padding-right: 0px;
	margin-top: 20px;

	outline: none;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;  
	box-shadow:  1px 1px 0px #999;  
	
	margin-left: 0px;
	width: 320px;
	z-index: -1;
}

.uiBlock {
	color: #666;
	text-shadow: 1px 1px 1px #222;
	padding: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #393939;
}

.uiBlock h3 {
	font-size: 24px;
	font-weight: bold;
	color: #666;
	text-shadow: 1px 1px 1px #111;
	font-family: 'Ubuntu', 'PT Sans', 'Linux Liberation Sans', 'Arial', sans-serif;
}

.uiBlock a, .uiBlock a:hover {
	color: #666;
}

.uiBlock li, .block li {
	line-height: 1.4;
}

.uiBlock li a, .block li a {
	border-bottom-width: 0px;
}
/*
.uiBlock li:before, .block li:before {
	content: '» ';
}*/

/* Last .block element. NOT .uiBlock! */
#lastblock {
	margin-bottom: 40px;
}

.menu {
	/*background-color: #DDD;*/
	padding-top: 10px;
	padding-bottom: 10px;

	outline: none;
	-webkit-box-shadow: 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 0px #999;  
	box-shadow:  1px 1px 0px #999;  
	
	border: 1px solid #CCC;
	border-left-width: 0px;
	border-right-width: 0px;
	font-size: 15px;
	font-weight: bold;
	background: url(../images/fade.png) #FFF;
	background-repeat: repeat-x;
}

.menu ul, .menu li {
	display: inline;
	margin-left: 15px;
}

.menu #array {
	position: relative;
}

.menu a {
	border-bottom-width: 0px;
}

#submenu {
	padding-top: 5px;
	padding-bottom: 10px;
	height: 10px;
	font-size: 13px;
	width: 67%;
	background: #FFF;
	}

#submenu > * {
	height: 10px;
}

.divisor {
	height: 5px;
	background-color: #FF8800;
}

#subdivisor {
	width: 67%;
}

#badge {
	margin-left: 50px;
}

/* Move badge down on mouseover */
#badge:hover {
	position: relative;
	top: 5px;
}

#footer {
	padding: 10px;
	padding-left: 40px;
	float: left;
	margin-left: auto;
	margin-right: auto;
	color: #666;
	font-family: 'PT Sans', 'Linux Liberation Sans', 'Arial', sans-serif;
	min-width: 300px;
}

#slider {
	width: 618px;
}


#slider img {
	float: left;
}

.calendar {
width: 100%;
table-layout:auto;
}

.calendar td {
border:1px solid black;
}

.dayrow {
background-color: #EEE;
border:1px solid black;
padding:3px;
}

.noday {
background-color: #DDD;
}

.today .date {
background-color:#FFAA00;
}

.date {
float:right;
border-left:1px solid grey;
border-bottom:1px solid grey;
font-size:11px;
width:17px;
height:17px;
text-align:center;
vertical-align:center;
font-weight:bold;
background-color:#EEE;
margin-bottom:20px;
}

.monthdisplay {
border:1px solid black;
background-color: #EEE;
padding:3px;
color: #666;
font-weight:bold;
}

.calevent {
padding:4px;
margin:3px;
background-color:#FFFFCC;
border:1px solid #D9D998;
font-size:12px;
line-height:17px;
}

.calprev {
float:left;
}

.calnext {
float:right;
}

#id_honeypot {
	display:none;
}
