<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Content-Language" content="de" />
		<title>Junge Piraten &raquo; {{ title }}</title>
		<style type="text/css" media="all">
			body { font-family: 'Liberation Sans', 'Linux Liberation Sans', 'Arial', sans-serif; }
		</style>
		<script type="text/javascript" src="//media.unionhost.de/jquery.js"></script>
	</head>

	<body>
			<div id="content">
				{% block aboveTitle %}{% endblock %}
				<h1>{{ title|upper }}</h1>
				{% block content %}{% endblock %}
			</div>
	</body>
</html>

